.form-control {
    -fx-border-color: transparent transparent #909090 transparent;
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-font-family: Poppins;
    -fx-border-width: 2;
}

.form-control:hover {
    -fx-border-color: transparent transparent #707070 transparent;
}

.btn-submit {
    -fx-background-radius: 25px;
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-padding: 8px 50px;
    -fx-cursor: hand;
}