.toast-success {
    -fx-background-color: #519793;
}

.toast-failed {
    -fx-background-color: #E96479;
}

.toast-success .message,
.toast-failed .message{
    -fx-fill: white;
}

.toast-success .icon,
.toast-failed .icon{
    -fx-fill: white;
}